/* Base styles */
.aplb-page-section {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(1rem, 50em) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(1rem, 50em) minmax(0, 1fr);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  clear: both;
}

.aplb-page-section.light-text,
.aplb-page-section.light-text :not(input):not(select) {
  color: #fff;
}

.aplb-page-section.light-text a:hover {
  color: #000;
}

.aplb-page-section.enable-shadow {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.aplb .section-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.aplb-title,
.aplb-page-section .content {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-column: 2;
  padding: 5rem 1rem;
  overflow: hidden;
  z-index: 10;
}

.aplb-title {
  -ms-grid-column: 1 / 4;
  grid-column: 1 / 4;
  padding-bottom: 0;
  margin: auto auto 0;
}

.aplb-title + .content {
  padding-top: 0;
  -ms-grid-row: 2;
}

/* Titles and subtitles */
.aplb .title,
.aplb .subtitle {
  text-align: center;
}

.aplb .title {
  line-height: 1.2;
}

.aplb .title.has-subtitle {
  margin-bottom: 0.25em;
}

.aplb .subtitle {
  margin-top: 0.25em;
}

.aplb .gf_form_center_wrapper ul {
  text-align: center;
}

.aplb .gf_form_center_wrapper li {
  text-align: left;
}

/* WYSIWYG */
.aplb-wysiwyg {
  -ms-grid-columns: minmax(0, 1fr) minmax(1rem, 35em) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(1rem, 35em) minmax(0, 1fr);
}

/* Quote */
.aplb-quote .aplb-blockquote {
  padding: 0;
  border: 0;
  background-color: transparent;
  text-align: center;
}

.aplb-quote .aplb-blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

.aplb-quote .aplb-blockquote p + p {
  margin-top: 1rem;
}

.aplb-quote .aplb-blockquote cite {
  display: block;
  margin-top: 1rem;
  font-size: 80%;
}

/* Links */
.aplb .aplb-links {
  overflow: hidden;
  padding-bottom: 1rem;
  text-align: center;
}

.aplb-links a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  min-width: 51%;
  padding: 0.4rem 0;
  margin: 0.75rem 0;
  color: #000;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.light-text .aplb-links a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.aplb-links a:hover,
.light-text .aplb-links a:hover {
  color: rgb(46, 46, 46);
  border-bottom-color: rgb(46, 46, 46);
}

/* Submenu */
.aplb-submenu .content {
  -ms-grid-column: 1 / 4;
  grid-column: 1 / 4;
  padding: 0;
}

.aplb-submenu-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem;
}

.aplb-submenu-items a {
  font-size: 80%;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .content-bottom {
    grid-template-rows: 1fr;
  }

  .content-bottom .content {
    padding: 1rem;
    align-self: end;
  }

  .content-bottom .aplb-title + .content {
    margin-top: 0;
  }

  .content-bottom .aplb-blockquote {
    margin-bottom: 1rem;
  }

  .aplb-quote .aplb-blockquote {
    font-size: 1.5rem;
  }

  .aplb .aplb-links a {
    min-width: auto;
    padding: 0.4rem 0.7rem;
    margin: 0.75rem 0.5rem;
  }
}
